@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,500&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 2rem;
}

.card-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    justify-content: center;
}


.collection-card{
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.collection-image{
    height: 12rem;
    width: 100%;
    object-fit: cover;
}
